USE [SchoolSystemDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/8/2017 5:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ClassOfStudents]    Script Date: 2/8/2017 5:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassOfStudents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ClassOfStudents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DaysOfWeeks]    Script Date: 2/8/2017 5:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaysOfWeeks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DaysOfWeeks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Newsfeeds]    Script Date: 2/8/2017 5:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Newsfeeds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](200) NULL,
	[UserId] [nvarchar](128) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[IsImportant] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Newsfeeds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2/8/2017 5:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 2/8/2017 5:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [nvarchar](128) NOT NULL,
	[ClassOfStudentsId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubjectClassOfStudents]    Script Date: 2/8/2017 5:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectClassOfStudents](
	[SubjectId] [int] NOT NULL,
	[ClassOfStudentsId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SubjectClassOfStudents] PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC,
	[ClassOfStudentsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubjectClassOfStudentsDaysOfWeeks]    Script Date: 2/8/2017 5:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectClassOfStudentsDaysOfWeeks](
	[DaysOfWeekId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[ClassOfStudentsId] [int] NOT NULL,
	[StartHour] [datetime] NOT NULL,
	[EndHour] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.SubjectClassOfStudentsDaysOfWeeks] PRIMARY KEY CLUSTERED 
(
	[DaysOfWeekId] ASC,
	[SubjectId] ASC,
	[ClassOfStudentsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 2/8/2017 5:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Subjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubjectStudents]    Script Date: 2/8/2017 5:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectStudents](
	[StudentId] [nvarchar](128) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[Mark] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SubjectStudents] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 2/8/2017 5:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Id] [nvarchar](128) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Teachers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserClaims]    Script Date: 2/8/2017 5:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserLogins]    Script Date: 2/8/2017 5:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.UserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 2/8/2017 5:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/8/2017 5:04:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](20) NULL,
	[LastName] [nvarchar](20) NULL,
	[AvatarPictureUrl] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ClassOfStudents] ON 

INSERT [dbo].[ClassOfStudents] ([Id], [Name], [IsDeleted]) VALUES (1, N'7 А', 0)
SET IDENTITY_INSERT [dbo].[ClassOfStudents] OFF
SET IDENTITY_INSERT [dbo].[DaysOfWeeks] ON 

INSERT [dbo].[DaysOfWeeks] ([Id], [Name]) VALUES (1, N'понеделник')
INSERT [dbo].[DaysOfWeeks] ([Id], [Name]) VALUES (2, N'вторник')
INSERT [dbo].[DaysOfWeeks] ([Id], [Name]) VALUES (3, N'сряда')
SET IDENTITY_INSERT [dbo].[DaysOfWeeks] OFF
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (N'04e00be1-2026-4b68-a81d-87637ff5f6a3', N'Admin')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (N'c3a4ad6e-03d0-4d3b-94ab-e2545794900e', N'Student')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (N'3f5f09ed-f9c0-4b39-82f3-e8faa4514f5c', N'Teacher')
INSERT [dbo].[SubjectClassOfStudents] ([SubjectId], [ClassOfStudentsId]) VALUES (1, 1)
INSERT [dbo].[SubjectClassOfStudents] ([SubjectId], [ClassOfStudentsId]) VALUES (2, 1)
INSERT [dbo].[SubjectClassOfStudents] ([SubjectId], [ClassOfStudentsId]) VALUES (3, 1)
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([Id], [Name], [ImageUrl], [IsDeleted]) VALUES (1, N'Български', N'~/Image/subject_images/subject1.png', 0)
INSERT [dbo].[Subjects] ([Id], [Name], [ImageUrl], [IsDeleted]) VALUES (2, N'Литература', N'~/Image/subject_images/subject2.png', 0)
INSERT [dbo].[Subjects] ([Id], [Name], [ImageUrl], [IsDeleted]) VALUES (3, N'Математика', N'~/Image/subject_images/subject3.png', 0)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
INSERT [dbo].[Teachers] ([Id], [SubjectId], [IsDeleted]) VALUES (N'03951a8c-16d7-4817-92e8-549c27c13c45', 12, 0)
INSERT [dbo].[Teachers] ([Id], [SubjectId], [IsDeleted]) VALUES (N'053cf979-b6ca-433a-b3a1-53952b9ac9da', 10, 0)
INSERT [dbo].[Teachers] ([Id], [SubjectId], [IsDeleted]) VALUES (N'1e109060-1000-4c4a-9a82-67c00c3d6040', 5, 0)
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'02022ad6-f836-4438-a965-b860c01b0323', N'04e00be1-2026-4b68-a81d-87637ff5f6a3')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'03951a8c-16d7-4817-92e8-549c27c13c45', N'3f5f09ed-f9c0-4b39-82f3-e8faa4514f5c')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'053cf979-b6ca-433a-b3a1-53952b9ac9da', N'3f5f09ed-f9c0-4b39-82f3-e8faa4514f5c')
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [AvatarPictureUrl], [IsDeleted], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'02022ad6-f836-4438-a965-b860c01b0323', NULL, NULL, N'~/Images/avatars/modified-avatar.png', 0, N'admin@admin.com', 0, N'AArilgP3AVTR6WtUPTaukSSIxlqdt02veE7WUVC6g3u9WNA+i98byfQbt2VLi7Dr3w==', N'855ada47-722a-4a27-b2ec-22747614fc71', NULL, 0, 0, NULL, 0, 0, N'admin@admin.com')
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [AvatarPictureUrl], [IsDeleted], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'03951a8c-16d7-4817-92e8-549c27c13c45', N'Херодот', N'Херодот', N'~/Images/avatars/modified-avatar.png', 0, N'herodotus@hlebforms.bg', 0, N'ADemtd6/cJzUo8CUHdNBxbFRBlHs9eUbbE5TYTLLLl14lGpdMptTfLHiTKuM/QyqEg==', N'dad2cb1c-f333-4a82-b761-1a110bd83061', NULL, 0, 0, NULL, 1, 0, N'herodotus@hlebforms.bg')
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [AvatarPictureUrl], [IsDeleted], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'053cf979-b6ca-433a-b3a1-53952b9ac9da', N'Галилео', N'Галилей', N'~/Images/avatars/modified-avatar.png', 0, N'galileo_galilei@hlebforms.bg', 0, N'AAsUfSY96DmcQqsxRqCamx7bFTy6IfEwpbGmtmtu/Md5p1rdRKP6e0J6J0nwEjBmJw==', N'3e9605d5-ad2b-4cae-8c86-bf5827066df3', NULL, 0, 0, NULL, 1, 0, N'galileo_galilei@hlebforms.bg')
ALTER TABLE [dbo].[Newsfeeds]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Newsfeeds_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Newsfeeds] CHECK CONSTRAINT [FK_dbo.Newsfeeds_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Students_dbo.ClassOfStudents_ClassOfStudentsId] FOREIGN KEY([ClassOfStudentsId])
REFERENCES [dbo].[ClassOfStudents] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_dbo.Students_dbo.ClassOfStudents_ClassOfStudentsId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Students_dbo.Users_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_dbo.Students_dbo.Users_Id]
GO
ALTER TABLE [dbo].[SubjectClassOfStudents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubjectClassOfStudents_dbo.ClassOfStudents_ClassOfStudentsId] FOREIGN KEY([ClassOfStudentsId])
REFERENCES [dbo].[ClassOfStudents] ([Id])
GO
ALTER TABLE [dbo].[SubjectClassOfStudents] CHECK CONSTRAINT [FK_dbo.SubjectClassOfStudents_dbo.ClassOfStudents_ClassOfStudentsId]
GO
ALTER TABLE [dbo].[SubjectClassOfStudents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubjectClassOfStudents_dbo.Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[SubjectClassOfStudents] CHECK CONSTRAINT [FK_dbo.SubjectClassOfStudents_dbo.Subjects_SubjectId]
GO
ALTER TABLE [dbo].[SubjectClassOfStudentsDaysOfWeeks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubjectClassOfStudentsDaysOfWeeks_dbo.DaysOfWeeks_DaysOfWeekId] FOREIGN KEY([DaysOfWeekId])
REFERENCES [dbo].[DaysOfWeeks] ([Id])
GO
ALTER TABLE [dbo].[SubjectClassOfStudentsDaysOfWeeks] CHECK CONSTRAINT [FK_dbo.SubjectClassOfStudentsDaysOfWeeks_dbo.DaysOfWeeks_DaysOfWeekId]
GO
ALTER TABLE [dbo].[SubjectClassOfStudentsDaysOfWeeks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubjectClassOfStudentsDaysOfWeeks_dbo.SubjectClassOfStudents_SubjectId_ClassOfStudentsId] FOREIGN KEY([SubjectId], [ClassOfStudentsId])
REFERENCES [dbo].[SubjectClassOfStudents] ([SubjectId], [ClassOfStudentsId])
GO
ALTER TABLE [dbo].[SubjectClassOfStudentsDaysOfWeeks] CHECK CONSTRAINT [FK_dbo.SubjectClassOfStudentsDaysOfWeeks_dbo.SubjectClassOfStudents_SubjectId_ClassOfStudentsId]
GO
ALTER TABLE [dbo].[SubjectStudents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubjectStudents_dbo.Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[SubjectStudents] CHECK CONSTRAINT [FK_dbo.SubjectStudents_dbo.Students_StudentId]
GO
ALTER TABLE [dbo].[SubjectStudents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubjectStudents_dbo.Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[SubjectStudents] CHECK CONSTRAINT [FK_dbo.SubjectStudents_dbo.Subjects_SubjectId]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Teachers_dbo.Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_dbo.Teachers_dbo.Subjects_SubjectId]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Teachers_dbo.Users_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_dbo.Teachers_dbo.Users_Id]
GO
ALTER TABLE [dbo].[UserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserClaims_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserClaims] CHECK CONSTRAINT [FK_dbo.UserClaims_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[UserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserLogins_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserLogins] CHECK CONSTRAINT [FK_dbo.UserLogins_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Users_UserId]
GO
