/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #2196F3;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

@media screen and (max-width: 900px) {
    .navbar-collapse.collapse {
        display: none !important;
    }

        .navbar-collapse.collapse.in {
            display: block !important;
        }

    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }

    .navbar-header {
        float: none;
    }
}

@media (max-width:950px) {
    .news-feed {
        position: absolute;
    }
}

@media (max-width:750px) {
    .news-feed {
        position: initial;
    }
}

.header-menu {
    border-bottom: 1px solid #2196F3;
}

.navbar-nav > li > a {
    padding-bottom: 5.5px;
}

.frame {
    border: 1px solid #2196F3;
    border-radius: 20px;
    width: 250px;
    height: 400px;
    display: inline-block;
    margin-top: 30px;
}

    .frame > h4 {
        color: #2196F3;
        text-align:center;
    }

.program, .top-news {
    width: 450px;
    margin-left: 5px;
}


.news-feed {
    margin-left: 10px;
    width: 280px;
}

.program-item {
}

.time, .subject-info {
    display: inline-block;
}

.start-hour, .end-hour {
    font-size: 18px;
}

    .start-hour > span:nth-child(1) {
        color: green;
        font-weight: bold;
    }

    .end-hour > span:nth-child(1) {
        color: red;
        font-weight: bold;
    }

.subject-info {
    font-size: 18px;
    margin-left: 100px;
}

.subject-image {
    display: inline-block;
    margin-top: -30px;
}

hr {
    border-color: #2196F3;
    background-color: #2196F3;
    color: #2196F3;
}
